body {
    background-color: black;
    background-image: url(../img/main/slider/07.jpg);
    color: white;
    text-shadow: 12px 12px 20px rgb(255, 255, 255);
    margin: 100px;
    font-family: 'Manrope', sans-serif;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__container {
    min-height: 103px;
    padding-top: 5px;
    display: flex;
    column-gap: 10px;
    row-gap: 15px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin: 40px;  
}

.header__logo {
    font-weight: 800;
    font-size: 53px;
    color: rgb(255, 255, 255); 
    text-decoration: none;
    text-shadow: 22px 22px 30px rgba(255, 255, 255, 0.857);
    
}
.k1-container {
    margin-top: 200px;
}
.k1 {
    color: rgb(255, 170, 1);
    font-weight: 800;
    font-size: 64px;
    line-height: 73px;
    margin-bottom: 20px;
    font-weight: 60;
    font-size: 54px;
    line-height: 73px;
    margin-top: 40px;
    text-align: center;
    
}

.zip {
    width: 14cm; 
    height: 18cm; 
    text-align: justify; 
    margin-left: 2cm; 
    margin-top: 0cm; 
    color: rgb(255, 255, 255); 
    font-size: 24px; 
    font-weight: 500; 
    padding: 10px; 
}

.schule {
    text-align: justify; 
    margin-left: 2cm; 
    margin-top: 1%; 
    color: #f48107; 
    font-size: 44px; 
    font-weight: 500; 
    padding: 10px; 
    margin-top: 3cm;
    text-align: center;
}

.schule-list {
    width: 17%;
    height: 280px;
    background-color: rgb(63, 72, 147);
    background: linear-gradient(180deg,#ffffff , #152952cc,  #000000);
    position: relative;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin: 30px;
    padding: 40px;
    border: -5px solid rgb(0, 0, 0);
}

.schule-list p {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.schule-list a {
    color: #2099e9;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fdd302;
    color: rgb(0, 0, 0);
    padding: 18px;
    border: 2px solid 0630ffb1;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.schule-list nav {
    margin-top: auto;
}

.schule-list a:hover {
    text-decoration: underline;
    background-color: #1ca80a;
    transform: translateX(-50%) scale(1.1);
}

.schule-order {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.search-container {
    display: flex;
    align-items: flex-start; 
    width: 26cm; 
    padding: 1cm;
    margin-left: 420px;
}

.search-zip {
    flex: 4.2;
    background-color: #fff;
    width: calc(100% - 10cm);
    text-align: left;
    z-index: 2;
}

.search-now {
    flex: 3;
    z-index: 2;
}

.form-main-block__input {
    height: 86px;
    border: none;
    padding: 0px 0px 0px 1cm;
    background-color: transparent;
    width: 100%;
    font-size: 20px;
}

.form-main-block__input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    padding-bottom: 60px;
}

.form-main-block__button {
    height: 86px;
    cursor: pointer;
    width: 6cm;
    font-weight: 600;
    color: rgb(255, 254, 254);
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.01em;
    padding: 5px 15px;
    transition: all 0.3s ease 0s;
    background-color: #ffc800;
    
    border: none;
}

.form-main-block__button:hover {
    background-color: #0053f9; 
}
.column-container {
   
    color: rgb(255, 255, 255);
    font-weight: 30;
    font-size: 24px;
    line-height: 73px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.column-container2 {
    color: rgb(255, 255, 255);
    font-weight: 30;
    font-size: 24px;
    line-height: 73px;
    margin-top: -500px;
    margin-left: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;

}

.column {
    margin-bottom: 10px;
}

.footer__copyright {
    background-color: rgba(34, 34, 34, 0);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 201px;
  }